opengl-amd64-installer
*/__pycache__/*
*/__pycache__
*/cache
CT-data

# Ignore the notebooks since they can be too large
notebooks

# Ignore the .csv files
py_radiomics/feature.csv

# Ignore all the .log files
*.log